In [1]:
import pandas as pd
import numpy as np

In [12]:
one_hot = np.zeros((1,3))
one_hot

array([[0., 0., 0.]])

In [16]:
one_hot.shape

(1, 3)

In [19]:
inp = ['string1', 'string2']
string = 's'
string*3

'sss'

In [20]:
''.join(inp)

'string1string2'

In [2]:
# Importing pandas as pd 
import pandas as pd 
  
# Creating the first Dataframe using dictionary 
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4], 
                         "b":[5, 6, 7, 8]}) 
  
# Creating the Second Dataframe using dictionary 
df2 = pd.DataFrame({"a":[1, 2, 3], 
                    "b":[5, 6, 7]}) 
  
# Print df1 
print(df1, "\n") 
  
# Print df2 
df2

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

   a  b
0  1  5
1  2  6
2  3  7

In [16]:
df1 = df1.append({"b":5},ignore_index=True)

In [17]:
df1

     a    b
0  1.0  5.0
1  2.0  6.0
2  3.0  7.0
3  4.0  8.0
4  5.0  NaN
5  NaN  5.0