# Splice junction identification from DNA sequence

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline
plt.rcParams["figure.figsize"] = [20,15]

### Reading the data

In [13]:
data = pd.read_csv('..\\rawdata\splice.txt',delimiter=" ",header=None,prefix='X')
data_scaled = pd.read_csv('..\\rawdata\splice_scale.txt',delimiter=" ",header=None,prefix='X')
data_test = pd.read_csv('..\\rawdata\splice_t.txt',delimiter=" ",header=None,prefix='X')

df = data.copy()
dfs = data_scaled.copy()
dft = data_test.copy()

In [14]:
df.head()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X52,X53,X54,X55,X56,X57,X58,X59,X60,X61
0,1,1:2.000000,2:1.000000,3:2.000000,4:1.000000,5:2.000000,6:1.000000,7:2.000000,8:3.000000,9:3.000000,...,52:3.000000,53:4.000000,54:2.000000,55:2.000000,56:2.000000,57:2.000000,58:1.000000,59:3.000000,60:4.000000,NaN
1,1,1:1.000000,2:3.000000,3:3.000000,4:4.000000,5:2.000000,6:1.000000,7:2.000000,8:2.000000,9:4.000000,...,52:3.000000,53:4.000000,54:4.000000,55:4.000000,56:1.000000,57:3.000000,58:4.000000,59:1.000000,60:1.000000,NaN
2,1,1:1.000000,2:4.000000,3:1.000000,4:4.000000,5:4.000000,6:4.000000,7:4.000000,8:1.000000,9:1.000000,...,52:1.000000,53:1.000000,54:4.000000,55:2.000000,56:2.000000,57:4.000000,58:4.000000,59:4.000000,60:2.000000,NaN
3,-1,1:1.000000,2:1.000000,3:4.000000,4:1.000000,5:1.000000,6:3.000000,7:3.000000,8:4.000000,9:4.000000,...,52:3.000000,53:4.000000,54:1.000000,55:3.000000,56:3.000000,57:4.000000,58:2.000000,59:2.000000,60:1.000000,NaN
4,-1,1:4.000000,2:3.000000,3:4.000000,4:4.000000,5:3.000000,6:1.000000,7:1.000000,8:4.000000,9:4.000000,...,52:3.000000,53:2.000000,54:1.000000,55:4.000000,56:2.000000,57:1.000000,58:1.000000,59:4.000000,60:4.000000,NaN

In [15]:
def datacleanse(df):
    df.drop("X61",axis=1,inplace=True)
    for i in range(1,61):
        df.iloc[:,i]=[float(x.split(":")[1]) for x in df.iloc[:,i]]
        
datacleanse(df)
datacleanse(dft)

In [44]:
df_total = pd.concat([df,dft]).drop_duplicates().reset_index(drop=True)
df_total.rename(columns={'X0':'Class'},inplace=True)

In [29]:
#to get freq count
series = []
for name in df_total:
    series.append(df_total[name].value_counts())

info = pd.DataFrame(series)
freq_info = info.transpose()
freq_info

,Class,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X51,X52,X53,X54,X55,X56,X57,X58,X59,X60
-1.0,1344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,1647.0,698.0,735.0,665.0,716.0,760.0,656.0,738.0,738.0,703.0,...,659.0,762.0,685.0,656.0,753.0,715.0,695.0,682.0,734.0,679.0
2.0,NaN,821.0,748.0,797.0,751.0,691.0,774.0,728.0,696.0,708.0,...,860.0,826.0,809.0,864.0,811.0,779.0,853.0,808.0,744.0,875.0
3.0,NaN,779.0,795.0,817.0,816.0,803.0,842.0,804.0,820.0,837.0,...,804.0,742.0,779.0,764.0,772.0,771.0,750.0,801.0,806.0,745.0
4.0,NaN,693.0,713.0,712.0,708.0,737.0,719.0,721.0,737.0,743.0,...,668.0,661.0,718.0,707.0,655.0,726.0,693.0,700.0,707.0,692.0

In [46]:
for col in df_total.columns:
    df_total[col] = pd.Categorical(df_total[col])

In [50]:
df_total.head()

,Class,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X51,X52,X53,X54,X55,X56,X57,X58,X59,X60
0,1,2.0,1.0,2.0,1.0,2.0,1.0,2.0,3.0,3.0,...,2.0,3.0,4.0,2.0,2.0,2.0,2.0,1.0,3.0,4.0
1,1,1.0,3.0,3.0,4.0,2.0,1.0,2.0,2.0,4.0,...,4.0,3.0,4.0,4.0,4.0,1.0,3.0,4.0,1.0,1.0
2,1,1.0,4.0,1.0,4.0,4.0,4.0,4.0,1.0,1.0,...,2.0,1.0,1.0,4.0,2.0,2.0,4.0,4.0,4.0,2.0
3,-1,1.0,1.0,4.0,1.0,1.0,3.0,3.0,4.0,4.0,...,3.0,3.0,4.0,1.0,3.0,3.0,4.0,2.0,2.0,1.0
4,-1,4.0,3.0,4.0,4.0,3.0,1.0,1.0,4.0,4.0,...,1.0,3.0,2.0,1.0,4.0,2.0,1.0,1.0,4.0,4.0

In [49]:
df_ohe = pd.get_dummies(df_total)
df_ohe.head()

,Class_-1,Class_1,X1_1.0,X1_2.0,X1_3.0,X1_4.0,X2_1.0,X2_2.0,X2_3.0,X2_4.0,...,X58_3.0,X58_4.0,X59_1.0,X59_2.0,X59_3.0,X59_4.0,X60_1.0,X60_2.0,X60_3.0,X60_4.0
0,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,0,1,1,0,0,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
2,0,1,1,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,1,0,0
3,1,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,1,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [51]:
df_ohe = df_ohe.drop(columns=['Class_-1'])
df_ohe.rename(columns={'Class_1':'Class'},inplace=True)
df_ohe.head()

,Class,X1_1.0,X1_2.0,X1_3.0,X1_4.0,X2_1.0,X2_2.0,X2_3.0,X2_4.0,X3_1.0,...,X58_3.0,X58_4.0,X59_1.0,X59_2.0,X59_3.0,X59_4.0,X60_1.0,X60_2.0,X60_3.0,X60_4.0
0,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,1,1,0,0,0,0,0,1,0,0,...,0,1,1,0,0,0,1,0,0,0
2,1,1,0,0,0,0,0,0,1,1,...,0,1,0,0,0,1,0,1,0,0
3,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1

In [54]:
# Use the model_selection module to separate training and testing datasets
from sklearn import model_selection

# Create X and Y datasets for training
X = np.array(df_ohe.drop(['Class'], axis=1))
y = np.array(df_ohe['Class'])

# define seed for reproducibility
seed = 42

# split data into training and testing datasets
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.25, random_state=seed)

In [55]:
# Now that we have our dataset, we can start building algorithms! We'll need to import each algorithm we plan on using
# from sklearn.  We also need to import some performance metrics, such as accuracy_score and classification_report.

from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

# define scoring method
scoring = 'accuracy'

# Define models to train
names = ["Nearest Neighbors", "Gaussian Process",
         "Decision Tree", "Random Forest", "Neural Net", "AdaBoost",
         "Naive Bayes", "SVM Linear", "SVM RBF", "SVM Sigmoid"]

classifiers = [
    KNeighborsClassifier(n_neighbors = 3),
    GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    MLPClassifier(alpha=1),
    AdaBoostClassifier(),
    GaussianNB(),
    SVC(kernel = 'linear'), 
    SVC(kernel = 'rbf'),
    SVC(kernel = 'sigmoid')
]

models = zip(names, classifiers)

# evaluate each model in turn
results = []
names = []

for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state = seed)
    cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print('Test-- ',name,': ',accuracy_score(y_test, predictions))
    print()
    print(classification_report(y_test, predictions))

Nearest Neighbors: 0.806510 (0.021200)
Test--  Nearest Neighbors :  0.7887700534759359

              precision    recall  f1-score   support

           0       0.68      0.97      0.80       322
           1       0.97      0.65      0.78       426

    accuracy                           0.79       748
   macro avg       0.82      0.81      0.79       748
weighted avg       0.84      0.79      0.79       748

Gaussian Process: 0.935812 (0.013050)
Test--  Gaussian Process :  0.9491978609625669

              precision    recall  f1-score   support

           0       0.93      0.96      0.94       322
           1       0.97      0.94      0.95       426

    accuracy                           0.95       748
   macro avg       0.95      0.95      0.95       748
weighted avg       0.95      0.95      0.95       748

Decision Tree: 0.944724 (0.017044)
Test--  Decision Tree :  0.9612299465240641

              precision    recall  f1-score   support

           0       0.93      0.98      0.96       322
           1       0.98      0.95      0.97       426

    accuracy                           0.96       748
   macro avg       0.96      0.96      0.96       748
weighted avg       0.96      0.96      0.96       748

Random Forest: 0.687466 (0.072381)
Test--  Random Forest :  0.7941176470588235

              precision    recall  f1-score   support

           0       0.85      0.63      0.73       322
           1       0.77      0.92      0.84       426

    accuracy                           0.79       748
   macro avg       0.81      0.77      0.78       748
weighted avg       0.80      0.79      0.79       748

Neural Net: 0.950964 (0.009949)
Test--  Neural Net :  0.9572192513368984

              precision    recall  f1-score   support

           0       0.92      0.98      0.95       322
           1       0.99      0.94      0.96       426

    accuracy                           0.96       748
   macro avg       0.95      0.96      0.96       748
weighted avg       0.96      0.96      0.96       748

AdaBoost: 0.927786 (0.015100)
Test--  AdaBoost :  0.9425133689839572

              precision    recall  f1-score   support

           0       0.92      0.95      0.93       322
           1       0.96      0.94      0.95       426

    accuracy                           0.94       748
   macro avg       0.94      0.94      0.94       748
weighted avg       0.94      0.94      0.94       748

Naive Bayes: 0.910837 (0.016531)
Test--  Naive Bayes :  0.9171122994652406

              precision    recall  f1-score   support

           0       0.91      0.89      0.90       322
           1       0.92      0.93      0.93       426

    accuracy                           0.92       748
   macro avg       0.92      0.91      0.92       748
weighted avg       0.92      0.92      0.92       748

SVM Linear: 0.920202 (0.016089)
Test--  SVM Linear :  0.9411764705882353

              precision    recall  f1-score   support

           0       0.92      0.95      0.93       322
           1       0.96      0.94      0.95       426

    accuracy                           0.94       748
   macro avg       0.94      0.94      0.94       748
weighted avg       0.94      0.94      0.94       748

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVM RBF: 0.946512 (0.012082)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Test--  SVM RBF :  0.9505347593582888

              precision    recall  f1-score   support

           0       0.92      0.97      0.94       322
           1       0.97      0.94      0.96       426

    accuracy                           0.95       748
   macro avg       0.95      0.95      0.95       748
weighted avg       0.95      0.95      0.95       748

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVM Sigmoid: 0.938938 (0.015120)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Test--  SVM Sigmoid :  0.9478609625668449

              precision    recall  f1-score   support

           0       0.92      0.96      0.94       322
           1       0.97      0.94      0.95       426

    accuracy                           0.95       748
   macro avg       0.95      0.95      0.95       748
weighted avg       0.95      0.95      0.95       748

In [24]:
def getInstanceFromRow(row):
    onehot = np.zeros((1,1))
    if row[0] == 1:
        onehot[0][0] = 1 
    orth = np.zeros((60,4))
    for i in range(60):
        if row[i] == 1:
            orth[i][0] = 1
        elif row[i] == 2:
            orth[i][1] = 1
        elif row[i] == 3:
            orth[i][2] = 1
        elif row[i] == 4:
            orth[i][3] = 1
    return orth,onehot

x = []
y = []
for row in df_train:
    xi,yi=getInstanceFromRow(row)
    x.append(xi)
    y.append(yi)
x = np.array(x)
y = np.array(y)

In [25]:
print(x.shape,y.shape)

(1000, 60, 4) (1000, 1, 1)